body {
    background-color:rgb(248, 246, 246);
}

th {
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

td {
  text-align: left;
  padding: 8px;
}

.movie-banner > img {
    width: 550px;
    height: 550px;
}

.movie-info {
    max-width: 60%;
}

.movie-info > p {
    text-align: justify;
}